.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Indie Flower', cursive;
}

.square {
  background-color: ghostwhite;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  font-size: 50px;
  border: 1px solid rgb(164, 156, 156);
  border-radius: 5px;
}

.square.clicked {
  background: rgb(99,99,195);
  cursor: not-allowed;
}

.heading {
  line-height: 35px;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-content: center;
  grid-gap: 5px;
}

.end-game-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.btn {
  background: rgb(103,185,252);
  color: white;
  border: none;
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 10px 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease-out;
  height: 60px;
}

.btn:hover {
  background: rgb(52, 129, 193);
  color: white;
}

.win-text {
  color: white;
  font-size: 50px;
}

.win-history {
  color: white;
  font-size: 25px;
  margin: 30px;
}